<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Part1.Properties.Settings.StringProcessingConnectionString"
      connectionString="Data Source=.;Initial Catalog=StringProcessing;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="Part1.Properties.Settings.StringProcessingDBConnectionString"
      connectionString="Data Source=.;Initial Catalog=StringProcessingDB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="StringProcessingEntities" connectionString="metadata=res://*/HistoryModel.csdl|res://*/HistoryModel.ssdl|res://*/HistoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=StringProcessing;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="StringProcessingDBEntities" connectionString="metadata=res://*/StringHistoryModel.csdl|res://*/StringHistoryModel.ssdl|res://*/StringHistoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=StringProcessingDB;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="StringProcessingEntities1" connectionString="metadata=res://*/StringProcessingModel.csdl|res://*/StringProcessingModel.ssdl|res://*/StringProcessingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=StringProcessing;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Part1_Entities" connectionString="metadata=res://*/Part1Database.csdl|res://*/Part1Database.ssdl|res://*/Part1Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Part1DB;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Part1DBEntities" connectionString="metadata=res://*/Part1Database.csdl|res://*/Part1Database.ssdl|res://*/Part1Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Part1DB;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Part1DB_Entities" connectionString="metadata=res://*/Part1DB.csdl|res://*/Part1DB.ssdl|res://*/Part1DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Part1DB;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Part1.Properties.Settings.Part1DBConnectionString"
      connectionString="Data Source=.;Initial Catalog=Part1DB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>